body {
  background-color: #9DC8C8;
  text-align: center;
}

input {
  width: 30%;
  height: auto;
  padding: 2px 2px;
  margin: 2px 0;
  box-sizing: border-box;
  font-size: 30px;
}

#reload_button{
  background-image: url("../assets/change.png");
  background-size: cover;
  height: 52px;
  width: 199px;
  margin-right: 20px;
  filter(opacity: 60);
  filter
}

#guess{

}
