@font-face {
  font-family: BeaufortRegular;
  src: url(fonts/Beaufort-Regular.ttf) format('truetype'),
       url(fonts/Beaufort-Regular.woff2) format('woff2'),
       url(fonts/Beaufort-Regular.woff) format('woff');
}
@font-face {
  font-family: BeaufortBold;
  src: url(fonts/Beaufort-Bold.ttf) format('truetype'),
       url(fonts/Beaufort-Bold.woff2) format('woff2'),
       url(fonts/Beaufort-Bold.woff) format('woff');
}

* {
  color: white;
}

input {
  font-family: BeaufortRegular, sans-serif;
  color: black !important;
}

html {
  height: 100%;
  background-image: url(../../assets/splash/sylas.jpg);
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
}

#title {
  font-family: BeaufortBold, sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 5px;
  margin-top: 7%;
}

#subtitle {
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.mainContainer {
  text-align: center;
  margin-left: -250px;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  box-sizing: content-box;
  position: absolute;
  width: 500px;
  height: 300px;
}

input {
  width: 70%;
  height: auto;
  padding: 2px 2px;
  margin: 10px;
  border: 3px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 40px;
  text-align: left;
  background-image: url('../../assets/champion.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 60px;
  text-transform: uppercase;
}

#reload_button {
  background-image: url("../assets/reload.png");
  background-size: cover;
  height: 70px;
  width: 70px;
  margin-right: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.button {
  background-color: inherit;
  font-size: 40px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-family: BeaufortBold, sans-serif;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
